body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

#wrapper {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}

#header {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modal-content {
  background-color: #fefefe;
  border: 2px solid lightgray;
  border-radius: 8px;
  margin: auto;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-content img {
  border-radius: 50%;
}

#close {
  align-self: flex-end;
  font-size: 28px;
  padding-right: 10px;
}

#modal-divider {
  width: 80%;
  border-top: 1px solid lightgray;
  margin: 20px 0;
}

#modal-address {
  width: 80%;
  text-align: center;
}

#modal-birthday {
  margin-bottom: 20px;
}

#grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, .8fr));
  grid-gap: 30px;
  justify-content: center;
  margin: 0 auto;  
}

.grid-box {
  width: 100%;
  padding-bottom: 45%;
  position: relative;
  border: 2px solid lightgray;
  border-radius: 8px;
}

.grid-box:hover {
  box-shadow: 0px 0px 1px 1px lightgreen;
}

.grid-box-inner {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  padding: 5px;
}

.thumbnail-wrapper {
  width: 42%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  max-width: 90%;
  height: auto;
  border-radius: 50%;
}

.personal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58%;
  padding-left: 5px;
}

.name, 
.hometown {
  text-transform: capitalize;
}

.name {
  font-weight: bold;
  font-size: 1.2em;
}

.email_name,
.email_domain {
  display: inline;
}

.email_name {
  margin-right: -3px;
}


@media (min-width: 656px) {
  #header {
    text-align: left;
    font-size: 1em;
  }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-box {
    margin-bottom: 10px;
  }
  
  .thumbnail {
    height: 100px;
    width: 100px;
  }
}

@media (-ms-high-contrast: none) and (max-width: 655px),
       (-ms-high-contrast: active) and (max-width: 655px) {
  
  #grid-wrapper {
    display: -ms-grid;
    -ms-grid-columns: minmax(280px, .8fr);
    -ms-grid-rows: (150px)[12];
  }
  
  
  
  .grid-box:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  
  .grid-box:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  
  .grid-box:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  
  .grid-box:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  
  .grid-box:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }
  
  .grid-box:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
  }
  
  .grid-box:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
  }
  
  .grid-box:nth-child(8) {
    -ms-grid-column: 1;
    -ms-grid-row: 8;
  }
  
  .grid-box:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-row: 9;
  }
  
  .grid-box:nth-child(10) {
    -ms-grid-column: 1;
    -ms-grid-row: 10;
  }
  
  .grid-box:nth-child(11) {
    -ms-grid-column: 1;
    -ms-grid-row: 11;
  }
  
  .grid-box:nth-child(12) {
    -ms-grid-column: 1;
    -ms-grid-row: 12;
  }
  
  
}

@media (-ms-high-contrast: none) and (min-width: 656px),
       (-ms-high-contrast: active) and (min-width: 656px) {
  
  #grid-wrapper {
    display: -ms-grid;
    -ms-grid-columns: minmax(280px, .4fr) 20px minmax(280px, .4fr);
    -ms-grid-rows: (150px)[6];
  }        

  .grid-box:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  
  .grid-box:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }
  
  .grid-box:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  
  .grid-box:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
  }
  
  .grid-box:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  
  .grid-box:nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }
  
  .grid-box:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  
  .grid-box:nth-child(8) {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
  }
  
  .grid-box:nth-child(9) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }
  
  .grid-box:nth-child(10) {
    -ms-grid-column: 3;
    -ms-grid-row: 5;
  }
  
  .grid-box:nth-child(11) {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
  }
  
  .grid-box:nth-child(12) {
    -ms-grid-column: 3;
    -ms-grid-row: 6;
  }
  
  .thumbnail {
    height: 100px;
    width: 100px;
  }
}

@media (-ms-high-contrast: none) and (min-width: 1000px),
       (-ms-high-contrast: active) and (min-width: 1000px) {
  
  #grid-wrapper {
    display: -ms-grid;
    -ms-grid-columns: minmax(280px, .4fr) 20px minmax(280px, .4fr) 20px     
      minmax(280px, .4fr);
    -ms-grid-rows: (150px)[4];
  }        

  .grid-box:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  
  .grid-box:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }
  
  .grid-box:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-row: 1;
  }
  
  .grid-box:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  
  .grid-box:nth-child(5) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
  }
  
  .grid-box:nth-child(6) {
    -ms-grid-column: 5;
    -ms-grid-row: 2;
  }
  
  .grid-box:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  
  .grid-box:nth-child(8) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }
  
  .grid-box:nth-child(9) {
    -ms-grid-column: 5;
    -ms-grid-row: 3;
  }
  
  .grid-box:nth-child(10) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
  }
  
  .grid-box:nth-child(11) {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
  }
  
  .grid-box:nth-child(12) {
    -ms-grid-column: 5;
    -ms-grid-row: 4;
  }
  
  .thumbnail {
    height: 100px;
    width: 100px;
  }
}


